@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:wght@100;200;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Sour Gummy', sans-serif;
  font-size: 1em;
  color: #2D2D2D;
}

main {
  overflow: hidden;
}

.menu {
  margin-left: 5vw;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 18vw;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease-in-out;
  z-index: 10;
  cursor: pointer;
}

.menu-mobile {
  display: none;
  opacity: 0;
  margin-left: 5vw;
  background-position: bottom;
  background-repeat: no-repeat;
  position: fixed;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease-in-out;
  z-index: 10;
  cursor: pointer;
  font-size: 1.5em;
}

.menu-link {
  padding: 3vh;
  transition: color 100ms ease-in-out;
}

.menu-link:hover {
  color: white;
  text-decoration: white wavy underline;
}

.section-bg {
  background-size: 100% 100%;
}

.section-size {
  max-height: 100vh;
  min-height: 100vh;
  width: 100vw;
}

.text-size {
  font-size: 1.8em;
}

.sec1-padding {
  padding: 10vh 15vw 8vh;
}

.is-open {
  margin-left: 10vw;
}

.not-open {
  margin-left: 0;
}

.logo {
  width: 35vh;
}

.sec1-button {
  padding: 20px 10px;
  border-radius: 15px;
  display: flex;
  gap: 3px;
  justify-content: center;
  box-shadow: inset ;
}

.sec1-button-img {
  max-width: 3vh;
  max-height: 3vh;
}

.all-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
  place-self: center;
}

.sec2-container {
  width: 100%;
  height: 99vh;
  padding: 2vh 5vw;
  background-size: 100% 100%;
}

.search-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 24%;
  box-shadow: 0px 1px 2px #2d2d2d70;
  background-color: #e2e2e26e;
  padding: 5px;
  border-radius: 10px;
  margin: 1px;
  height: 25vh;
  justify-content: space-evenly;
}

.scrollbar {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #6b7280 #f3f4f623;
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #f3f4f6;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #6b7280;
  border-radius: 4px;
  border: 2px solid #f3f4f6;
}

.sec3-padding {
  padding: 0 0 5vh 25vw;
}

.sign-in-up {
  font-weight: bold;
  font-size: 2em;
}

.sign-in-up:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.postit {
  position: relative;
  transition: transform 300ms ease-in-out;
  width: 15vw;
  display: flex;
  background-size: 100% 100%;
  justify-content: center;
  align-items: center;
}

.postit:hover {
  transform: rotate(3deg) translateX(-0.5rem);
}

.book-covers {
  width: 9vw;
  height: 27vh;
  margin-left: -5vw;
}

.book-covers:hover {
  transform: translateY(-1vh);
  z-index: 10;
}

.last-sec-padding {
  padding: 2vh 30vw 2vh 25vw;
  gap: 2em;
}

.last-sec-cards-marker {
  position: absolute;
  height: 2em;
  width: 100%;
  background-size: 100% 100%;
  top: -3px;
}

.last-sec-cards-container {
  min-width: 35%;
  display: flex;
  gap: 2em;
}

.last-sec-cards {
  height: 100%;
  border-width: 4px;
  border-style: dotted;
  border-color: #396d94;
  background-color: #e5fdff8e;
  border-radius: 30px;
  justify-content: center;
  padding-top: 1.5em;
}

/* Loading Animation - Adapted from maluong's Code on CodePen: https: //codepen.io/maluong */
.loading {
  width: 100%;
  height: 35vh;
  margin: 0;
  transform: scale(0.5);
}

.bookshelf_wrapper {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.books_list {
  margin: 0 auto;
  width: 300px;
  padding: 0;
}

.book_item {
  position: absolute;
  top: -120px;
  box-sizing: border-box;
  list-style: none;
  width: 40px;
  height: 120px;
  opacity: 0;
  background-color: #396d94;
  border: 5px solid white;
  transform-origin: bottom left;
  transform: translateX(300px);
  animation: travel 2500ms linear infinite;
}

.book_item.first {
  top: -140px;
  height: 140px;
}

.book_item.first::before,
.book_item.first::after {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: white;
}

.book_item.first::after {
  top: initial;
  bottom: 10px;
}

.book_item.second,
.book_item.fifth {
  box-sizing: border-box;
}

.book_item.second::before,
.book_item.second::after,
.book_item.fifth::before,
.book_item.fifth::after {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 17.5px;
  border-top: 5px solid white;
  border-bottom: 5px solid white;
}

.book_item.second::after,
.book_item.fifth::after {
  top: initial;
  bottom: 10px;
}

.book_item.third::before,
.book_item.third::after {
  content: '';
  position: absolute;
  top: 10px;
  left: 9px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 5px solid white;
}

.book_item.third::after {
  top: initial;
  bottom: 10px;
}

.book_item.fourth {
  top: -130px;
  height: 130px;
}

.book_item.fourth::before {
  content: '';
  position: absolute;
  top: 46px;
  left: 0;
  width: 100%;
  height: 17.5px;
  border-top: 5px solid white;
  border-bottom: 5px solid white;
}

.book_item.fifth {
  top: -100px;
  height: 100px;
}

.book_item.sixth {
  top: -140px;
  height: 140px;
}

.book_item.sixth::before {
  content: '';
  position: absolute;
  bottom: 31px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: white;
}

.book_item.sixth::after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 9px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 5px solid white;
}

.book_item:nth-child(2) {
  animation-delay: 416.67ms;
}

.book_item:nth-child(3) {
  animation-delay: 833.33ms;
}

.book_item:nth-child(4) {
  animation-delay: 1250ms;
}

.book_item:nth-child(5) {
  animation-delay: 1666.67ms;
}

.book_item:nth-child(6) {
  animation-delay: 2083.33ms;
}

.shelf {
  width: 300px;
  height: 5px;
  margin: 0 auto;
  background-color: #ffc425;
  position: relative;
}

.shelf::before,
.shelf::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle closest-side, #0cf79e, 30%, transparent 0);
  background-size: 10px 10px;
  background-position: 0 -2.5px;
  top: 200%;
  left: 5%;
  animation: move 250ms linear infinite;
}

.shelf::after {
  top: 400%;
  left: 7.5%;
}

@keyframes move {
  from {
    background-position-x: 0;
  }

  to {
    background-position-x: 10px;
  }
}

@keyframes travel {
  0% {
    opacity: 0;
    transform: translateX(300px) rotateZ(0deg) scaleY(1);
  }

  6.5% {
    transform: translateX(279.5px) rotateZ(0deg) scaleY(1.1);
  }

  8.8% {
    transform: translateX(273.6px) rotateZ(0deg) scaleY(1);
  }

  10% {
    opacity: 1;
    transform: translateX(270px) rotateZ(0deg);
  }

  17.6% {
    transform: translateX(247.2px) rotateZ(-30deg);
  }

  45% {
    transform: translateX(165px) rotateZ(-30deg);
  }

  49.5% {
    transform: translateX(151.5px) rotateZ(-45deg);
  }

  61.5% {
    transform: translateX(115.5px) rotateZ(-45deg);
  }

  67% {
    transform: translateX(99px) rotateZ(-60deg);
  }

  76% {
    transform: translateX(72px) rotateZ(-60deg);
  }

  83.5% {
    opacity: 1;
    transform: translateX(49.5px) rotateZ(-90deg);
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    transform: translateX(0px) rotateZ(-90deg);
  }
}

@media (max-width: 855px) and (orientation: landscape) {
  .text-size {
    font-size: 1.2em;
  }
}

@media (max-height: 600px) and (orientation: landscape) {
  .sec2-container {
    width: 140%;
    height: 160vh;
    padding-right: 25%;
    overflow: hidden;
  }
}

@media (max-width: 800px) and (orientation: portrait) {
  body {
    font-size: 0.8em;
  }
  
  .menu {
    display: none;
  }

  .menu-mobile {
    display: block;
    opacity: 1;
  }

  .is-open {
    margin-left: 0;
  }

  .section-bg {
    background-size: auto 100%;
    background-position-x: right;
  }

  .logo {
    width: 20vh;
  }

  .sec1-padding {
    padding: 7vh 10vw;
  }

  .sec2-container {
    width: 140%;
    height: 120vh;
    padding-right: 25%;
    overflow: hidden;
  }

  .search-container {
    width: 49%;
    height: 18vh;
  }

  .section-size {
    max-height: 200vh;
    min-height: 100vh;
  }

  .sec3-padding {
    padding: 0;
  }

  .postit {
    width: 25vw;
  }

  .last-sec-padding {
    padding: 10vw;
  }
}

@media (max-width: 900px) {
  .last-sec-cards-container {
    flex-wrap: wrap;
  }

  .section-size {
    max-height: 200vh;
    min-height: 100vh;
  }
}